.menu {
    &__list {
        min-height: 100vh;
        padding: 50px;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}

.icons__copyright {
    color: TOmato;
    padding: 20px;
    text-align: center;

    & a{
        color: bisque
    }
}